.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.left-nav, .right-nav, .logo {
  padding: 10px;
}

.left-nav, .right-nav {
  display: flex;
  align-items: center;
}

.left-nav a, .right-nav a, .logo a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.see-all-link {
  text-decoration: none;
  color: #0077CC; /* Customize the color as needed */
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: white;
  padding: 20px;
}

.footer-left, .footer-center  {
  width: 30%; /* Adjust the column widths as needed */
}

.footer-right{
  width: 40%;
  padding-right:30px;
}

.footer-left, .footer-center {
  padding: 0 10px; /* Add some spacing between columns */
}

.footer-left ul {
  list-style: none;
  padding: 0;
}

.footer-left li {
  margin-bottom: 10px;
}

.footer-left a {
  text-decoration: none;
  color: white;
}
.footer-center ul {
  list-style: none;
  padding: 0;
}

.footer-center li {
  margin-bottom: 10px;
}

.footer-center a {
  text-decoration: none;
  color: white;
}


#map-container {
  width: 100%;
  height: 300px; /* Adjust the height as needed */
}
 
.map-png {
  max-width: 24vw; 
  max-height: 24vw;
  width: auto; /* Automatically adjust width */
  height: auto; /* Automatically adjust height */
}

.foot-sub {
  font-size : 12px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .footer-left, .footer-center, .footer-right {
    width: 100%; /* On smaller screens, make each column full width */
    padding: 0;
  }
}