.footer {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(0deg, rgb(40, 40, 40) 0%, rgb(40, 40, 40) 98%, whitesmoke 99%);
  color: white;
  padding: 20px;
  margin-top: auto;
}