 /* HamburgerIcon.css */
 .hamburger-container {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-line {
  width: 30px;
  height: 3px;
  background-color: whitesmoke;
  margin: 2.5px 0;
  transition: 0.4s;
}

.hamburger-container.open .hamburger-line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
  width: 35px;
}

.hamburger-container.open .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger-container.open .hamburger-line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
  width: 35px;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 50%;
  margin-top: 50px;
  background: linear-gradient(180deg,rgb(40,40,40) 0%, rgb(40,40,40) 97%,  rgba(255, 255, 255, 0) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow: hidden;
}

.mobile-menu.open {
  height: 200px;
  opacity: 1;
}

.hamburger-link {
  font-size: 18px;
  margin: 5px 0 12px 0;
  color: white;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  margin-left: 0;
}

#menuToggle {
  display: block;
  position: fixed; 
  top: 34px; 
  left: 12px; 
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  padding: 8px 5px 3px 5px;
  background-color: rgb(40,40,40);
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  border-radius: 4px; 
}

#menuToggle a
{
 text-decoration: none;
 color: #232323;
 
 transition: color 0.3s ease;
}

#menuToggle a:hover
{
 color: tomato;
}


#menuToggle input
{
 display: block;
 width: 40px;
 height: 32px;
 position: absolute;
 top: -7px;
 left: -5px;
 
 cursor: pointer;
 
 opacity: 0; /* hide this */
 z-index: 2; /* and place it over the hamburger */
 
 -webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span
{
 display: block;
 width: 33px;
 height: 4px;
 margin-bottom: 5px;
 position: relative;
 
 background: #cdcdcd;
 border-radius: 3px;
 
 z-index: 1;
 
 transform-origin: 4px 0px;
 
 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             opacity 0.55s ease;
}

#menuToggle span:first-child
{
 transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
 transform-origin: 0% 100%;
}

/* 
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span
{
 opacity: 1;
 transform: rotate(45deg) translate(-2px, -1px);
 background: #232323;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
 opacity: 0;
 transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
 transform: rotate(-45deg) translate(0, -1px);
}


#menu {
position: fixed;
width: 300px;
top: 0;
left: 0;
padding: 50px;
padding-top: 50px; /* Adjust this value */
height: 100vh;
background: white;
list-style-type: none;
-webkit-font-smoothing: antialiased;
transform-origin: 0% 0%;
transform: translate(-100%, 0);
transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
text-align: left;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#menu li
{
 padding: 10px 0;
}

/*
* And let's slide it in from the left
*/
#menuToggle input:checked ~ ul
{
 transform: none;
}


li {
position: relative;
list-style: none;
}

/* Style for the first-li and other-li */
.first-li,
.other-li {
padding-left: 25px;
font-size: 18px;
font-weight: 600;
}

.first-li::before,
.other-li::before {
content: '';
position: absolute;
bottom: 0;
left: -50px;
width: calc(100% + 100px);
border-bottom: 1.5px solid darkgrey; 
}

/* Style for the subcategory-li and brand-li */
.subcategory-li,
.brand-li {
padding-left: 50px; 
font-size:16px;
}

.brand-li{
font-weight: 500;
}

.subcategory-li::before,
.brand-li::before {
content: '';
position: absolute;
bottom: 0;
left: -50px;
width: calc(100% + 100px);
border-bottom: 1px solid lightgrey;
}

.first-li{
margin-top: 25px;
}

.first-li:hover,
.other-li:hover,
.subcategory-li:hover,
.brand-li:hover {
color: red; /* Change the color to your desired underline color on hover */
}