/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px 10px;
    background: linear-gradient(180deg,rgb(40,40,40) 0%, rgb(40,40,40) 90%, whitesmoke 96%);
    overflow-x: hidden;
  }
  
  .left-nav, .right-nav, .logo {
    padding: 10px;
    flex-shrink: 0;
  }

  .headnav:hover {
    position: relative;
    z-index: 1;
    text-shadow: 0 0 15px rgba(255, 255, 255, 1);
  }

  .left-nav, .right-nav {
    display: flex;
    align-items: center;
  }
  
  .left-nav a, .right-nav a, .logo a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
  }
  
  .logo {
    flex-grow: 1;
  }

  .logo a {
    font-size: 1.5rem;
  }

  