.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, whitesmoke 85%, rgba(255, 255, 255, 0) 100%);
    padding-top:15px;
    padding-bottom:10px;
    margin-bottom: -10px;
}
  
.search-input {
    padding: 10px;
    border: 2.5px solid #ccc !important;
    border-radius: 5px !important;
    font-size: 24px !important;
    margin-right: -5px;
}
  
.search-input:focus,
.search-button:focus {
    outline: none !important;
}
  
.search-button {
    padding: 12.5px 40px;
    background-color: #007bff;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
    margin-left: -5px;
    outline: none; /* Remove default outline.. doesn't work*/ 
}
  
.search-button:hover {
    background-color: #0056b3;
}
  
.sticky {
    position: sticky;
    top: 0px;
    z-index: 100;
}