.cartcard {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-left: 1px; 
    margin-right: 1px;
    padding: 30px;
    background-color: white;
}

.cart-left {
    flex: 1;
}

.cart-right {
    flex-shrink: 0;
}

.cart-img {
    max-width: 100px;
}

span { 
    cursor: pointer; 
}

.cart-quantity {
    margin-right:15px;
    display: flex;
    flex-direction: row;
}

.cart-quantity::-webkit-outer-spin-button,
.cart-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
