.excel-table {
  border-collapse: collapse;
  width: 100%;
}

.excel-table th, .excel-table td {
  border: 1px solid #ddd;
  padding: 8px;
  min-width: 100px;
  text-align: left;
}

.excelsubmitter{
  margin: 15px;
  margin-right: -100px;
}