/* Searchbar.css */
.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: 3px solid #ccc !important;
    border-radius: 5px !important; 
    margin: 15px 0 0px 20vw;
    flex-grow: 1;
    font-size: 24px !important;
}


.search-button {
    padding: 12.5px 40px;
    background-color: #007bff;
    border: none;
    border-radius: 0 5px 5px 0; 
    color: white;
    cursor: pointer;
    margin: 15px 20vw 0px -3px;
}
