@import './Banner.css';
@import './EmployeeLogin.css';
@import './Footer.css';
@import './Header.css';
@import './Home.css';
@import './Excel.css';
@import './EmployeePages.css';
@import './NewProductForm.css';
@import './ProductCard.css';
@import './ProductPage.css';

/* tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: whitesmoke;
}

body h1 {
  font-size:32px;
  font-weight:bold;
}

body h2 {
  font-size:24px;
  font-weight:bold;
}

body h3 {
  font-size:18px;
  font-weight:bold;
}

body h4 {
  font-size:12px;
  font-weight:bold;
}


.App {
  text-align: center;
}