/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .footer-left, .footer-center  {
    width: 30%; /* Adjust the column widths as needed */
  }
  
  .footer-right{
    width: 40%;
    padding-right:30px;
  }
  
  .footer-left, .footer-center {
    padding: 0 10px; /* Add some spacing between columns */
  }
  
  .footer-left ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-left li {
    margin-bottom: 10px;
  }
  
  .footer-left a {
    text-decoration: none;
    color: white;
  }
  .footer-center ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-center li {
    margin-bottom: 10px;
  }
  
  .footer-center a {
    text-decoration: none;
    color: white;
  }

/* map */
#map-container {
    width: 150%;
    height: 400px; /* Adjust the height as needed */
    display: flex;
    align-items: center; /* Align the content vertically */
  }
  
  .map-png {
    width: 100% ;
    max-width: 150% ;
    height: auto ; /* Automatically adjust height */
    border-radius: 8px; /* Add rounded corners to the image */
  }
  
  .foot-sub {
    font-size: 12px;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .footer-left, .footer-center, .footer-right {
      width: 100%; /* On smaller screens, make each column full width */
      padding: 0;
    }
  }
  