/* footer */


.footer {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(0deg,rgb(40,40,40) 0%, rgb(40,40,40) 98%, whitesmoke 99%);
    color: white;
    padding: 20px;
    margin-top: auto; /* Push the footer to the bottom */
  }
  
  .footer-left, .footer-center  {
    margin-top: 15px;
    width: 30%; /* Adjust the column widths as needed */
  }
  
  .footer-right{
    margin-top: 15px;
    width: 40%;
    padding-right:30px;
  }
  
  .footer-left, .footer-center {
    padding: 0 10px; /* Add some spacing between columns */
  }
  
  .footer-left ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-left li {
    margin-bottom: 10px;
  }
  
  .footer-left a {
    text-decoration: none;
    color: white;
  }
  .footer-center ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-center li {
    margin-bottom: 10px;
  }
  
  .footer-center a {
    text-decoration: none;
    color: white;
  }
  
  
  #map-container {
    width: 100%;
    max-width: 24vw; /* Set a maximum width relative to the viewport width */
    height: auto; /* Automatically adjust height */
}
   
  .map-png {
    margin-left: 90px;
    max-width: 24vw; 
    max-height: 24vw;
    width: auto; /* Automatically adjust width */
    height: auto; /* Automatically adjust height */
  }
  
  .foot-sub {
    font-size : 12px;
  }
  