/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(0deg, #b5bdc8 0%,#828c95 4%,#333333 25%);
  }
  
  .left-nav, .right-nav, .logo {
    padding: 10px;
    flex-shrink: 0; /* Prevent these elements from growing beyond their content */
  }

  .left-nav, .right-nav {
    display: flex;
    align-items: center;
  }
  
  .left-nav a, .right-nav a, .logo a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
  }
  
  .logo {
    flex-grow: 1; /* Take up remaining space */
  }

  .logo a {
    font-size: 1.5rem; /* Increase font size for the logo */
  }
