.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .see-all-link {
    text-decoration: none;
    color: #0077CC; /* Customize the color as needed */
  }